@import "./variables.scss";
@import "./breakpoints.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 10px 70px;

  @include lg {
    padding: 10px 30px;
  }

  @include md {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }

  &_left,
  &_center,
  &_right {
    max-width: 100%;
  }

  &_left {
    img {
      max-width: 100px;
      margin-bottom: 10px;
    }
  }

  &_center {
    ul {
      list-style: none;
      margin-top: 10px;

      li {
        cursor: pointer;

        &:hover {
          color: $pinkred;
        }
      }

      a {
        text-decoration: none;
        color: black;

        &:hover {
          color: $pinkred;
        }
      }
    }
  }

  &_right {
    h3 {
      margin-bottom: 10px;
    }

    &_info {
      display: flex;
      align-items: center;

      p {
        margin-left: 10px;
      }
    }

    img {
      max-width: 150px;
      margin-top: 10px;
    }


  }

  @include sm {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;

    img {
      max-width: 190px;
      margin-top: 10px;
    } 

    &_right{
      margin-left:30px;
    }
  }

}
